# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.dylib
*.dll
.env
# C extensions
*.c
*.cpp

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Uncomment if you have PyInstaller-related files
#  /dist
#  /build
#  *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
*.cover
*.tox/
*.nox/
*.coverage
*.hypothesis/
.nox/
.coverage.*
nosetests.xml
test_*.xml
*.log

# IDEs and editors
#  JetBrains IDEs (e.g., PyCharm)
.idea/

#  VS Code
.vscode/

#  Sublime Text
*.sublime-project
*.sublime-workspace

#  Eclipse
.project
.pydevproject

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Other files to ignore
*.bak
*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project
